<footer class="post-footer">
    <div class="post-tags">
        <a href="{$Think.config.api}index/article/listPage/cate_id/{$art_info.cate_id}">{$art_info['cate_name']}</a>
    </div>
    {if $pre_info || $next_info}
    <nav class="post-nav">
        {if $pre_info}
        <a class="prev" href="{$Think.config.api}index/article/detail/art_id/{$pre_info.art_id}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{$pre_info['art_title']}</span>
        </a>
        {/if}
        {if $next_info}
        <a class="next" href="{$Think.config.api}index/article/detail/art_id/{$next_info.art_id}">
            <span class="next-text nav-default">{$next_info['art_title']}</span>
            <i class="iconfont icon-right"></i>
        </a>
        {/if}
    </nav>
    {/if}
</footer>