{include file="comm/header" /}
<body class="user-select">
<section class="container-fluid">
    {include file="comm/header-top" /}
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 main" id="main">
      <h1 class="page-header">信息总览</h1>
      <div class="row placeholders">
          {php}$index=3;{/php}
        <div class="col-xs-{$index} col-sm-{$index} placeholder">
            <a href="{$Think.config.api}admin/article/index">
                <h4>文章</h4>
                <span class="text-muted">{$art_total} 条</span>
            </a>
        </div>
        <div class="col-xs-{$index} col-sm-{$index} placeholder">
            <a href="{$Think.config.api}admin/single/index">
                <h4>单页面</h4>
                <span class="text-muted">{$single_total|default=0} 页</span>
            </a>
        </div>
        <div class="col-xs-{$index} col-sm-{$index} placeholder">
            <a href="{$Think.config.api}admin/category/index">
                <h4>分类</h4>
                <span class="text-muted">{$cat_total} 条</span>
            </a>
        </div>
        <div class="col-xs-{$index} col-sm-{$index} placeholder">
          <h4>访问量</h4>
          <span class="text-muted">{$web_info.web_click}</span> </div>
      </div>
      <h1 class="page-header">状态</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>登录者: <span>{$Think.session.admin_info.admin_name}</span>，这是您第 <span>{$Think.session.admin_info.login_nums|default='1'}</span> 次登录</td>
            </tr>
            {if $Think.session.admin_info.login_time}
            <tr>
              <td>上次登录时间: {$Think.session.admin_info.login_time|date='Y-m-d H:m:s',###} , 上次登录IP: {$Think.session.admin_info.login_ip}</td>
            </tr>
            {/if}
          </tbody>
        </table>
      </div>
      <h1 class="page-header">系统信息</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr> </tr>
          </thead>
          <tbody>
            <tr>
              <td>管理员个数:</td>
              <td>2 人</td>
              <td>服务器软件:</td>
              <td>{$Think.server.SERVER_SOFTWARE}</td>
            </tr>
            <tr>
              <td>浏览器:</td>
              <td>Chrome47</td>
              <td>PHP版本:</td>
              <td>5.6.1</td>
            </tr>
            <tr>
              <td>操作系统:</td>
              <td>Windows 10</td>
              <td>PHP运行方式:</td>
              <td>CGI-FCGI</td>
            </tr>
            <tr>
              <td>登录者IP:</td>
              <td>{$Think.server.REMOTE_ADDR}</td>
              <td>MYSQL版本:</td>
              <td>5.5.40</td>
            </tr>
            <tr>
              <td>程序版本:</td>
              <td class="version">YlsatCMS 1.0 <font size="-6" color="#BBB">(20160108160215)</font></td>
              <td>上传文件:</td>
              <td>可以 <font size="-6" color="#BBB">(最大文件：2M ，表单：8M )</font></td>
            </tr>
            <tr>
              <td>程序编码:</td>
              <td>UTF-8</td>
              <td>当前时间:</td>
                <td>{$Think.server.REQUEST_TIME|date="y-m-d H:m:s",###}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>
      </div>
      <footer>
        <h1 class="page-header">程序信息</h1>
        <div class="table-responsive">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td><span style="display:inline-block; width:8em">版权所有</span> POWERED BY WY ALL RIGHTS RESERVED</td>
            </tr>
            <tr>
              <td><span style="display:inline-block;width:8em">页面加载时间</span>1.0835s</td>
            </tr>
          </tbody>
        </table>
        </div>
      </footer>
    </div>
  </div>
</section>
{include file="comm/user-info" /}
{include file="comm/footer-js" /}
</body>
</html>
