{if condition="($action=='detail') or ($controller=='Single')"}
<script type="text/javascript" src="{$Think.config.static}index/js/jquery-3.1.1.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/lib/marked.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/lib/prettify.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/lib/raphael.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/lib/underscore.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/lib/sequence-diagram.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/lib/flowchart.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/lib/jquery.flowchart.min.js"></script>
<script src="{$Think.config.static}admin/lib/editor/editormd.min.js"></script>
<script type="text/javascript" src="{$Think.config.static}index/js/autoc.js"></script>
<script>
    $(document).ready(function () {
        var editor = editormd.markdownToHTML("editor", {
            htmlDecode     : "style,script,iframe",  // you can filter tags decode
            emoji          : true,
            taskList       : true,
            tex            : true,  // 默认不解析
            flowChart      : true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
        setTimeout(function () {
            var str = {$Think.config.static};
            $('body').append('<script type="text/javascript" src="'+str+'index/js/theme.js"><\/script>');
        }, 1500);
    });
</script>
{/if}