<!DOCTYPE html>
<html lang="" class="cye-disabled cye-nm">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="description" content="JreSun前端博客--技术博客--记录博客">
    <link rel="alternate" href="https://www.jresun.cn/default" title="JreSun">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.jresun.cn/favicon.ico?v=1.1">
    <link rel="canonical" href="http://jresun.cn/">
    <meta name="description" content="JreSun前端博客--技术博客--记录博客">
    <meta property="og:type" content="website">
    <meta property="og:title" content="JreSun">
    <meta property="og:url" content="http://jresun.cn/index.html">
    <meta property="og:site_name" content="JreSun">
    <meta property="og:description" content="JreSun前端博客--技术博客--记录博客">
    <meta property="og:locale" content="zh-cn">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="JreSun">
    <meta name="twitter:description" content="JreSun前端博客--技术博客--记录博客">
    <link rel="stylesheet" type="text/css" href="{$Think.config.static}index/css/style.css">
    <title>JreSun</title>
    <script type="text/javascript">
        var themeConfig = {
            fancybox: {
                enable: false
            },
        };
    </script>
</head>